.DS_Store
.ipynb_checkpoints
riiideducation

data/*
!data/.gitkeep

dataset/*
!dataset/.gitkeep
!dataset/package.py

features/*
!features/.gitkeep
!features/extract.py

kernel/*
!kernel/.gitkeep
!kernel/package.py

models/*
!models/.gitkeep
!models/train.py
