.DS_Store
.ipynb_checkpoints
riiideducation

data/*
!data/.gitkeep

dataset/*
!dataset/.gitkeep
!dataset/package.py

features/*
!features/.gitkeep

kernel/*
!kernel/.gitkeep

models/*
!models/.gitkeep
!models/train.py
